<h3>Neue Bewertung für Movie: <%= @movie.title %></h3>
<%= render "shared/errors", object: @review %>
<%= form_for [@movie, @review] do |f| %>
	<div class="row">
		<div class="medium-3 columns">
			<%= f.label :name %>
		</div>
		<div class="medium-9 columns">
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="row">
		<div class="medium-3 columns">
			<%= f.label :stars %>
		</div>
		<div class="medium-9 columns">
			<%= f.select :stars, Review::FILM_RATING, promt: "Bitte wählen" %>
		</div>
	</div>
		<div class="row">
		<div class="medium-3 columns">
			<%= f.label :comment %>
		</div>
		<div class="medium-9 columns">
			<%= f.text_field :comment %>
		</div>
	</div>
	<div class="row">
		<div class="medium-3 columns">
			<%= f.submit %>
		</div>
	</div>

<% end %>