<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <li><%= link_to "Alle Filme", movies_path %></li>
    </ul>
    <ul class="right">
      <% if current_user %>
      <li><%= link_to current_user.name, user_path(current_user.id) %></li>
      |
      <li><%= link_to "SignOut", session_path, method: :delete %></li>
      <% else %>
    	<li><%= link_to "SignIn", signin_path %></li> | 
      <li><%= link_to "SignUp", signup_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
