<h3>Reistrierungen für <%= @event.name %></h3>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>E-Mail</th>
			<th>HowHeard</th>
			<th>Löschen</th>
		</tr>
	</thead>
	<tbody>
		<% @registrations.each do |registration| %>
			<tr>
				<td><%= registration.name %></td>
				<td><%= registration.email %></td>
				<td><%= registration.how_heard %></td>
				<td><%= link_to "<i class='fi-trash icon-red'></i>".html_safe, event_registration_path(@event.id, registration.id), method: :delete, data: {confirm: "Wirklich löschen"} %></td>
			</tr>
		<% end %>
	</tbody>
</table>