<h1>Listing Tasks for <%= @project.title %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Decription</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.decription %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td><%= link_to 'Show', project_task_path(@project.id, task.id) %></td>
        <td><%= link_to 'Edit', edit_project_task_path(@project.id, task.id) %></td>
        <td><%= link_to 'Destroy', project_task_path(@project.id, task.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_project_task_path(@project) %>
